body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 40px;
    padding: 0
    color:#333;
}

h1 {
 color: #666;
}

#taskInput {
 padding: 10px;
 width: 300px;
 margin-right: 10px
}

button {
 padding: 10px 20px;
 cursor: pointer;
 background-color: #5CACEE;
 color: white;
 border: none;
}

button:hover {
 background-color: #1E90FF;
}

ul {
 list-style-type: none;
 padding: 0;
}

li {
 background-color: #FFF

 padding: 10px;
 margin-top: 5px;
 border-radius: 5px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

li.finished {
 text-decoration: line-through;
 color: #bbb;
}

button.deleteButton {
 padding: 5px 10px;
 background-color: #ff6347;
 border-radius: 5px;
 color: white;
 border: none;
}

button.deleteButton:hover{
background-color: #e60000;
}